.customButton {
  border: 1px solid;
}

.wideButton {
  width: 60px;
}

.defaultColorLight {
  color: black;
  background-color: rgb(167, 226, 191);

  &:disabled {
    background-color: gray;
  }
}

.defaultColorDark {
  color: white;
  background-color: rgb(10, 83, 32);

  &:disabled {
    background-color: gray;
  }
}

.redColorLight {
  color: black;
  background-color: lightcoral;
}

.redColorDark {
  color: white;
  background-color: rgb(97, 9, 9);
}

.blueColorLight {
  color: black;
  background-color: lightblue;
}

.blueColorDark {
  color: white;
  background-color: rgb(26, 9, 102);
}
