.header {
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 1em green, 0 0 0.2em green;
  margin-bottom: 50px;
}

.footer {
  margin-top: 100px;
  display: grid;
}

.img {
  width: 80px;
  box-shadow: 7px 5px 15px rgb(4, 207, 4);
}
