.reviewContainer {
  display: grid;
  gap: 10px;
  width: 200px;
}

.headerText {
  font-size: 18px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.clearButton {
  width: 60px;
}

.counter {
  display: flex;
  gap: 5px;
}
