.restaurantButtons {
  display: flex;
  gap: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  margin-top: 50px;
  display: grid;
}

.counter {
  display: flex;
  gap: 5px;
}

.progressBar {
  background-color: #dc2626;
  top: 0;
  position: fixed;
  height: 10px;
  left: 0;
}
